<div class="row">
  <div class="col-md-11">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Editing Profile
        </h3>
      </div>
      <div class="panel-body">
        <%= form_for(@profile, html: {class: 'form-horizontal validate'}) do |f| %>
          <% if @profile.errors.any? %>
            <div class="well well-sm text-danger">
              <ul>
                <% @profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="col-md-8">

            <div class="form-group">
              <%= f.label :first_name, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :first_name, class: 'form-control', required: true %>
              </div>
            </div>

            <div class="form-group">
            <%= f.label :last_name, class: 'col-sm-4 control-label required' %>
            <div class="col-sm-8">
              <%= f.text_field :last_name, class: 'form-control', required: true %>
            </div>
          </div>
            <div class="form-group">
              <%= f.label :phone, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :phone, class: 'form-control', placeholder: '+919988123123', required: true %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :location, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :location, class: 'form-control loc_auto_comp', required: true %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :current_employer, class: 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :current_employer, class: 'form-control'%>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :dob, 'DOB', class: 'col-sm-4 control-label' %>
              <div class="col-sm-8">
                <%= f.text_field :dob, class: 'form-control has_datepicker' %>
              </div>
            </div>
            <% if current_user.candidate?  %>
              <div class="form-group">
                <%= f.label :experience, class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :experience, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :compensation, class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :compensation, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :primary_skills, class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_area :primary_skills, class: 'form-control' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :secondary_skills, class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_area :secondary_skills, class: 'form-control' %>
                </div>
              </div>
            <% else %>
              <div class="form-group">
                <%= f.label :title, class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :title, class: 'form-control' %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= image_tag @profile.display_picture, class: 'thumbnail' ,width: '50%' %>

            <div class="form-group">
              <div class="col-sm-12 ">
                <%= f.file_field :picture, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-6">
                <%= f.submit :save, class: 'btn btn-success btn-block' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $(".has_datepicker" ).datetimepicker({
      timepicker:false,
      format: 'Y/m/d'
    });
  });

  // location auto completer
  $('.loc_auto_comp').click(function (e) {
    var id = $(this).attr('id');
    var inputxx = document.getElementById(id);
    var optionsxx = {
      types: ['geocode']
    };

    var autocomplete = new google.maps.places.Autocomplete(inputxx, optionsxx);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
    });
  });
</script>


