<div class="row">
  <div class="col-md-11">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Editing Profile
        </h3>
      </div>
      <div class="panel-body">
        <%= form_for(@profile, html: {class: 'form-horizontal validate', onkeypress: "return event.keyCode != 13;"}) do |f| %>
          <% if @profile.errors.any? %>
            <div class="well well-sm text-danger">
              <ul>
                <% @profile.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="col-md-8">

            <div class="form-group">
              <%= f.label :first_name, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :first_name, class: 'form-control', required: true %>
              </div>
            </div>
            <% if current_user.candidate? %>
              <div class="form-group">
                <%= f.label :middle_name, class: 'col-sm-4 control-label required' %>
                <div class="col-sm-8">
                  <%= f.text_field :middle_name, class: 'form-control', required: true %>
                </div>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.label :last_name, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :last_name, class: 'form-control', required: true %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :phone, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.number_field :phone, class: 'form-control', placeholder: '+919988123123', required: (current_user.candidate? ? true : false) %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :location, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :location, class: 'form-control loc_auto_comp', required: true %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :title, 'Current Job Title', class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :title, class: 'form-control', required: true, placeholder: 'Sr Rails Developer' %>
              </div>
            </div>
            <div class="form-group">
              <%= f.label :current_employer, class: 'col-sm-4 control-label required' %>
              <div class="col-sm-8">
                <%= f.text_field :current_employer, class: 'form-control', required: true, placeholder: 'Google' %>
              </div>
            </div>
            <% if current_user.candidate? %>
              <div class="form-group">
                <%= f.label :experience, class: 'col-sm-4 control-label required' %>
                <div class="col-sm-8">
                  <%= f.number_field :experience, class: 'form-control', required: true, placeholder: 'E.g: 2.6' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :compensation,'Current Salary', class: 'col-sm-4 control-label required' %>
                <div class="col-sm-8">
                  <%= f.number_field :compensation, class: 'form-control', required: true, placeholder: 'E.g: 500000' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :expected_salary, class: 'col-sm-4 control-label required' %>
                <div class="col-sm-8">
                  <%= f.number_field :expected_salary, class: 'form-control', required: true, placeholder: 'E.g: 500000' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :primary_skills, class: 'col-sm-4 control-label required' %>
                <div class="col-sm-8">
                  <%= f.text_field :primary_skills, class: 'form-control', required: true, placeholder: 'Enter comma separate ', data: {role: "tagsinput"} %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :secondary_skills, class: 'col-sm-4 control-label' %>
                <div class="col-sm-8">
                  <%= f.text_field :secondary_skills, class: 'form-control', placeholder: 'Enter comma separate ', data: {role: "tagsinput"} %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :preferred_locations, class: "col-sm-4 control-label required" %>
                <div class="col-sm-8">
                  <%= f.text_field :preferred_locations, class: 'form-control loc_auto_comp', required: true, placeholder: 'Enter comma separate', data: {role: "tagsinput"} %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :citizen, class: "col-sm-4 control-label required"%>
                <div class="col-sm-8">
                  <%= f.text_field :citizen, class: 'form-control', required: true, placeholder: 'E.g: Indian' %>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :jobs_interested, class: "col-sm-4 control-label required" do %>
                  Job Type Interest
                <% end %>
                <div class="col-sm-8">
                  <%= label_tag :inline_radio_1, class: "radio-inline" do %>
                    <%= f.radio_button :jobs_interested, "contract", checked: (f.object.jobs_interested == "contract" ? true : false), style: 'margin-top: 4px' %>
                    Contract
                  <% end %>
                  <%= label_tag :inline_radio_2, class: "radio-inline" do %>
                    <%= f.radio_button :jobs_interested, "permanent", checked: (f.object.jobs_interested == "permanent" ? true : false), style: 'margin-top: 4px' %>
                    Permanent
                  <% end %>
                  <%= label_tag :inline_radio_3, class: "radio-inline" do %>
                    <%= f.radio_button :jobs_interested, "any", checked: (f.object.jobs_interested == "any" ? true : false), style: 'margin-top: 4px' %>
                    Any
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="col-md-4">
            <%= image_tag @profile.display_picture, class: 'thumbnail', width: '50%' %>

            <div class="form-group">
              <div class="col-sm-12 ">
                <%= f.file_field :picture, class: 'form-control' %>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-6">
                <%= f.submit :save, class: 'btn btn-success btn-block' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<style>
  .bootstrap-tagsinput {
    width: 100%;
  }
</style>


<script>
  $(function () {
    $(".has_datepicker").datetimepicker({
      timepicker: false,
      format: 'Y/m/d'
    });
  });

  // location auto completer
  $('.loc_auto_comp').click(function (e) {
    var id = $(this).attr('id');
    var inputxx = document.getElementById(id);
    var optionsxx = {
      types: ['geocode']
    };

    var autocomplete = new google.maps.places.Autocomplete(inputxx, optionsxx);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
    });
  });
</script>


