<div class="row">
  <div class="col-md-10">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">
          Basic Info
          <%= link_to edit_profile_path(@profile), class: 'pull-right' do %>
            <i class="glyphicon glyphicon-pencil"></i>
          <% end %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-md-9">
          <dl class="dl-horizontal">
            <dt>First Name:</dt>
            <dd><%= @profile.first_name %></dd>
            <br>
            <dt>Last Name:</dt>
            <dd><%= @profile.last_name %></dd>
            <br>
            <dt>Email:</dt>
            <dd><%= current_user.email %></dd>
            <br>
            <dt>Phone:</dt>
            <dd><%= @profile.phone %></dd>
            <br>
            <dt>Location:</dt>
            <dd><%= @profile.location %></dd>
            <br>
            <dt>Current Employer</dt>
            <dd><%= @profile.current_employer %></dd>
            <br>
            <% if current_user.candidate? %>
              <dt>DOB</dt>
              <dd><%= @profile.dob.to_date.strftime("%b %d, %Y") if @profile.dob %></dd>
              <br>
            <% end %>
            <dt>Experience:</dt>
            <dd><%= @profile.experience %></dd>
            <br>
            <dt>Compensation:</dt>
            <dd><%= @profile.compensation %></dd>
            <br>
            <dt>Primary Skills:</dt>
            <dd>
              <% @profile.primary_skills.split(',').each do |skill| %>
                <span class="label label-primary"><%= skill %></span>
              <% end if @profile.primary_skills %>
            </dd>
            <br>
            <dt>Secondary Skills:</dt>
            <dd>
              <% @profile.secondary_skills.split(',').each do |skill| %>
                <span class="label label-info"><%= skill %></span>
              <% end if @profile.secondary_skills %>
            </dd>
            <dt>Title:</dt>
            <dd><%= @profile.title %></dd>
          </dl>
        </div>
        <div class="col-md-3">
          <%= image_tag @profile.display_picture, class: 'img-thumbnail' %>
        </div>
      </div>
    </div>
  </div>
</div>