<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Resend confirmation instructions</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post, class: 'form-horizontal'}) do |f| %>
          <% if resource.errors.any? %>
            <div class="well well-sm text-danger">
              <ul>
                <% resource.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>


            <div class="form-group">
              <%= f.label :email, class: "col-sm-3 control-label" %>
              <div class="col-sm-6">
                <%= f.email_field :email, class: 'form-control', required: true, autofocus: true, placeholder: "jhon@example.com" %>
              </div>
            </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-4">
              <%= f.submit "Resend confirmation instructions", class: 'btn btn-success' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>