Hi <%= @user.full_name %>

<p> Your application is Scheduled interview for <%= @job.title %> position on <%= submission.interview.date.strftime('%Y %b %d') %>
  at <%= submission.interview.date.strftime('%I:%M %P') %>.</p>
<p>Additional info: <%= @interview.description %></p>