Hi <%= @user.full_name %>

<p> Your interview is Re-Scheduled  for <%= @job.title %> position. Scheduled on <%= @interview.date.strftime('%Y %b %d') %>
  at <%= @interview.date.strftime('%I:%M %P') %>.</p>
<p><strong>Mode of Interview:</strong> <%= @interview.mode.titlecase %></p>
<p><strong>Additional info:</strong> <%= @interview.description %></p>