
<h1>Templates</h1>
<%= link_to 'New Template', new_template_path, class: 'pull-right' %>
<table class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @templates.each do |template| %>
      <tr>
        <td><%= template.name %></td>
        <td>
          <%= link_to 'Show', template %>&nbsp;&nbsp;
          <%= link_to 'Edit', edit_template_path(template) %>&nbsp;&nbsp;
          <%= link_to 'Delete', template, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

