<div class="row">
  <div class="col-md-11">
    <%= simple_form_for(@job, html: {class: 'form-horizontal', autocomplete: 'off',onkeypress: "return event.keyCode != 13;"}, wrapper: :horizontal_form) do |f| %>
    <%= f.error_notification %>

    <% if f.object.new_record? %>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <strong>
            Pick Template from the following or <%= link_to 'Create Template', new_template_path %>
          </strong>
        </div>
        <div class="col-md-offset-3">
        </div>
      </div>

      <div class="form-group">
        <div class="col-md-offset-3 col-md-9">
          <%= f.input :template_id,
                      :collection => current_user.templates.map { |t| [t.id, t.name] },
                      :label_method => :last,
                      :value_method => :first,
                      :label => false,
                      :item_label_class => 'radio-inline',
                      :item_wrapper_tag => false,
                      :as => :radio_buttons, readonly: true %>
        </div>
      </div>
    <% else %>
      <div class="form-group">
        <label class="col-sm-3 control-label">Template</label>

        <div class="col-sm-9">
          <!--<input class="string optional form-control" type="text" value="Hyderabad India" name="job[location]" id="job_location">-->
          <label class="form-control" style="    background: transparent;border: none;box-shadow: inherit;">
            <%= f.object.template.name %>
          </label>
        </div>
      </div>
    <% end %>

    <div class="form-group">
      <label class="col-sm-3 control-label">Hiring Manager</label>

      <div class="col-md-9">
        <%= f.select :hiring_user_id, Role.where(name: "hm").first.users.map { |l| [l.email, l.id] }, {}, class: 'form-control' %>
      </div>
    </div>
      <%= f.input :title %>
      <%= f.input :location, input_html: {class: 'us_loc_auto_comp'} %>
      <div class="form-group">
        <%= f.label :job_type, class: "col-sm-3 control-label" do %>
          Position Type
        <% end %>
        <div class="col-sm-9">
          <%= label_tag :inline_radio_2, class: "radio-inline" do %>
            <%= f.radio_button :job_type, 'permanent', checked: ((f.object.job_type == 'permanent' || f.object.new_record?) ? true : false), class: 'job_type', style: 'margin-top: 4px' %>
            Permanent
          <% end %>
          <%= label_tag :inline_radio_1, class: "radio-inline" do %>
            <%= f.radio_button :job_type, 'contract', checked: (f.object.job_type == 'contract' ? true : false), class: 'job_type', style: 'margin-top: 4px' %>
            Contract
          <% end %>
        </div>
      </div>

      <%= content_tag :div, class: 'contract_fields ' + (f.object.job_type == 'contract' ? '' : 'hide') do%>
        <%= f.input :duration, as: :float, hint: "Duration in months" %>
      <% end %>
      <%= f.input :start_date,as: :string, input_html: {class: 'has_datepicker form-control'} %>

      <%= f.input :description, input_html: {:class => 'ckeditor'} %>
      <%= f.simple_fields_for :job_skills do|s|%>
      <%= s.input :name,label: "Skills", input_html: {value: @job_skills,placeholder: 'Enter comma separate ',data: {role: "tagsinput"}} %>
      <% end %>

      <%= f.input :compensation, placeholder: "Eg: 500000" ,hint: "Salary per annum. Eg: 500000 " %>
      <%= f.input :experience, as: :float, hint: "Experience in Years.", placeholder: 'E.g: 2.6' %>
    <div class="form-group">
      <div class="col-md-offset-3 col-md-9">
        <%= f.button :submit, class: 'btn-primary' %>
      </div>
    </div>
  <% end %>
  </div>
</div>

<style>
  .bootstrap-tagsinput{
    width: 100%;
  }
</style>

<script>
  $(".job_template_id").removeClass("form-group");
  // location auto completer
  $('.us_loc_auto_comp').on('click',function (e) {
    var id = $(this).attr('id');
    var inputxx = document.getElementById(id);
    var countryRestrict = {'country': 'us'};
    var optionsxx = {
      types: ['geocode'],
      componentRestrictions: countryRestrict
    };

    var autocomplete = new google.maps.places.Autocomplete(inputxx, optionsxx);
    google.maps.event.addListener(autocomplete, 'place_changed', function () {
      var place = autocomplete.getPlace();
    });
  });

  $('.job_type').on('change', function(e){
    var checked = $('.job_type:checked').val();
    if(checked=='contract'){
      $('.contract_fields').removeClass('hide');
    }else{
      $('.contract_fields').addClass('hide');
    }
  });

  $(".has_datepicker").datetimepicker({
    timepicker: false,
    format: 'Y/m/d',
    minDate:'+1970/01/02'
  });

</script>