<table class="table table-bordered table-responsive">
  <thead>
  <tr>
    <th>Title</th>
    <th>Posted</th>
    <th>Location</th>
    <th>Actions</th>
  </tr>
  </thead>

  <tbody>
  <% if jobs.any? %>
    <% jobs.each do |job| %>
    <tr>
      <td>
        <%= link_to job.title, job_path(job) %>
        <% if job.new_submission_display? %>
          <label class="label-danger label">New(<%= job.new_submission_size %>)</label>
        <% end %>
      </td>
      <td><%= job.created_at.strftime("%b %d, %Y %H %p") %></td>
      <td><%= job.location %></td>
      <td>
        <% if policy(job).edit? %>
          <%= link_to 'Edit', edit_job_path(job) %>&nbsp;&nbsp;
          <% if job.active? %>
            <%= link_to 'Hold', change_status_job_path(job, status: 'hold') %>&nbsp;&nbsp;
            <%= link_to 'Close', change_status_job_path(job, status: 'close') %>&nbsp;&nbsp;
          <% elsif job.hold? %>
            <%= link_to 'Active', change_status_job_path(job, status: 'active') %> &nbsp;&nbsp;
            <%= link_to 'Close', change_status_job_path(job, status: 'close') %> &nbsp;&nbsp;
          <% elsif job.closed? %>
            <%= link_to 'Active', change_status_job_path(job, status: 'active') %> &nbsp;&nbsp;
          <% end %>
        <% else %>
          <% if job.submissions.find_by_user_id current_user.id %>
            <a href="#" class="btn btn-default btn-sm disabled" role="button">Submitted</a>
          <% elsif current_user.candidate? %>
            <%= link_to "Apply", new_job_submission_path(job), class: 'btn btn-sm btn-info' %>
          <% end %>
        <% end %>

        <% if policy(job).update? %>
          <br/>
          <%= link_to 'View Submissions', job_submissions_path(job) %>
        <% end %>
        </tr>
  <% end %>
  <% else %>
    <tr>
      <td colspan="4">No Jobs found.</td>
    </tr>
  <% end %>
  </tbody>
</table>