<% aid = params[:aid] ? params[:aid].to_i + 1 : '' %>
<%= fields_for "submission[attachments_attributes][#{aid}]", @attachment do |a| %>
  <div id="attachment_field_<%= aid %>">
    <div class="form-group">

      <div class="col-md-4 col-md-offset-2">
        <%= a.text_field :name, class: 'form-control attachment_field', placeholder: "Eg: Resume, Cover Letter", autocomplete: :off %>
      </div>
      <div class="col-md-4">
        <%= a.file_field :file, class: 'form-control' %>
      </div>

      <div class="col-md-2">
        <%= link_to 'javascript:void(0)', class: 'btn btn-danger remove_j_qtn', data: {aid: aid} do %>
          <i class="glyphicon glyphicon-remove"></i>
        <% end %>
      </div>

    </div>
  </div>
  <%= a.hidden_field :_destroy %>
  <%= a.hidden_field :field_type, value: 'check_box' %>
<% end %>

<% if false %>
  <%= f.fields_for :attachments do |a| %>

    <div class="form-group hide">
      <div class="col-md-4 col-md-offset-2">
        <%= a.text_field :name, class: 'form-control', id: 'last_attachment', placeholder: "Eg: Resume, Cover Letter", autocomplete: :off %>
      </div>
      <div class="col-md-4">
        <%= a.file_field :file, class: 'form-control' %>
      </div>
    </div>
  <% end %>
<% end %>