<%= form_for([@job, @submission], html: {class: 'form-horizontal'}) do |f| %>
  <% if @submission.errors.any? %>
    <div class="well well-sm text-danger">
      <ul>
        <% @submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :resume_sections do |resume_sec| %>
    <% @template_sections.to_ary.each_with_index do|section,i| %>
      <%= resume_sec.hidden_field :section_id, value: section.id ,name: "submission[resume_sections_attributes][#{i}][section_id]"%>
      <h4><%= section.name.titleize %></h4>
      <div class="form-group">
        <%= resume_sec.label :video, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= resume_sec.file_field :video,name: "submission[resume_sections_attributes][#{i}][video]", class: 'form-control', required: true %>
          <span class="text-muted" style="font-size: 11px;">
            formats: flv, mp4, avi, mkv. Size Limit: 12MB
          </span>
        </div>
      </div>
      <div class="form-group">
        <%= resume_sec.label :rating, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= resume_sec.collection_radio_buttons :rating,(1..5).map{|n| [n, n]}, :first, :last,{} ,{ class: 'radio-inline', name: "submission[resume_sections_attributes][#{i}][rating]", required: true, style: 'margin: 10px 5px 10px 10px'} %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>

  <h4>Interview Availability</h4>

  <div class="form-group">
    <%= f.label :availability_1, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :availability_1, class: 'form-control has_datetimepicker_7', required: true, autocomplete: :off %>
      <span class="help-block">Pick time slots for interview in next 7 days</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :availability_2, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :availability_2, class: 'form-control has_datetimepicker_7_14', required: true, autocomplete: :off %>
      <span class="help-block">Pick time slots for interview in next 7-14 days</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :availability_3, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :availability_3, class: 'form-control has_datetimepicker_14_21', required: true, autocomplete: :off %>
      <span class="help-block">Pick time slots for interview in next 14-21 days</span>
    </div>
  </div>

  <hr>
  <h4>Attachments</h4>
  <div class="add_more_attachments"></div>

  <div class="form-group">
    <div class="col-md-4 col-md-offset-2">
      <%= text_field_tag :name, nil, name: "submission[attachments_attributes][999][name]", class: 'form-control', data: {job_id: params[:job_id]}, id: 'last_attachment', placeholder: "eg: Resume, Cover Letter", autocomplete: :off %>
    </div>
    <div class="col-md-4">
      <%= file_field_tag :file, name: "submission[attachments_attributes][999][file]", class: "form-control", id: 'last_attachment_name' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit "Submit Application", class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>



<script>

  $(function() {
    $(".has_datetimepicker_7").datetimepicker({
      minDate:'+1970/01/03',//next 2nd day is minimum date(for today use 0 or -1970/01/01)
      maxDate:'+1970/01/11',//next 7th day is maximum date calendar
      scrollMonth: false,
      allowTimes:['08:00', '10:00','12:00', '13:00', '15:00','17:00', '17:05', '17:20', '19:00', '20:00'],
      onGenerate:function( ct ){
        jQuery(this).find('.xdsoft_date.xdsoft_weekend')
          .addClass('xdsoft_disabled');
      }
    });
    $(".has_datetimepicker_7_14").datetimepicker({
      minDate:'+1970/01/12',//next 7th day is minimum date(for today use 0 or -1970/01/01)
      maxDate:'+1970/01/20',//next 14th day is maximum date calendar
      scrollMonth: false,
      allowTimes:['08:00', '10:00','12:00', '13:00', '15:00','17:00', '17:05', '17:20', '19:00', '20:00'],
      onGenerate:function( ct ){
        jQuery(this).find('.xdsoft_date.xdsoft_weekend')
          .addClass('xdsoft_disabled');
      }
    });

    $(".has_datetimepicker_14_21").datetimepicker({
      minDate:'+1970/01/21',//next 14th day is minimum date(for today use 0 or -1970/01/01)
      maxDate:'+1970/01/29',//next 21th day is maximum date calendar
      scrollMonth: false,
      allowTimes:['08:00', '10:00','12:00', '13:00', '15:00','17:00', '17:05', '17:20', '19:00', '20:00'],
      onGenerate:function( ct ){
        jQuery(this).find('.xdsoft_date.xdsoft_weekend')
          .addClass('xdsoft_disabled');
      }
    });
  });

  $("#last_attachment, #last_attachment_name").on('click', function(e){
    e.preventDefault()
    var aid = $('.attachment_field').length;
    var job_id = $("#last_attachment").data('job-id');
    $.get('/jobs/' + job_id + '/submissions/add_attachments', {aid: aid})
      .done(function (data) {
        $('.attachment_field').last().focus();
      });
  });

</script>
