<%= form_for([@job, @submission], html: {class: 'form-horizontal'}) do |f| %>
  <% if @submission.errors.any? %>
    <div class="well well-sm text-danger">
      <ul>
        <% @submission.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= f.fields_for :resume_sections do |resume_sec| %>
    <% @template_sections.to_ary.each_with_index do|section,i| %>
      <%= resume_sec.hidden_field :section_id, value: section.id ,name: "submission[resume_sections_attributes][#{i}][section_id]"%>
      <h4><%= section.name.titleize %></h4>
      <div class="form-group">
        <%= resume_sec.label :video, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%= resume_sec.file_field :video,name: "submission[resume_sections_attributes][#{i}][video]", class: 'form-control', required: true %>
          <span class="text-muted" style="font-size: 11px;">
            formats: flv, mp4, avi, mkv. Size Limit: 10MB
          </span>
        </div>
      </div>
      <div class="form-group">
        <%= resume_sec.label :rating, class: 'col-sm-2 control-label' %>
        <div class="col-sm-4">
          <%#= resume_sec.select :rating, options_for_select((1..10)),{prompt: 'Select Rating'}, { class: 'form-control', name: "submission[resume_sections_attributes][#{i}][rating]", required: true} %>
          <%= resume_sec.collection_radio_buttons :rating,(1..5).map{|n| [n, n]}, :first, :last,{} ,{ class: 'radio-inline', name: "submission[resume_sections_attributes][#{i}][rating]", required: true, style: 'margin: 10px 5px 10px 10px'} %>
        </div>
      </div>
      <hr>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :availability_1, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :availability_1, class: 'form-control has_datetimepicker_15', required: true, autocomplete: :off %>
      <span class="help-block">Pick time slots for interview in next 15 days</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :availability_2, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :availability_2, class: 'form-control has_datetimepicker_15_30', required: true, autocomplete: :off %>
      <span class="help-block">Pick time slots for interview in next 15-30 days</span>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :availability_3, class: 'col-sm-2 control-label' %>
    <div class="col-sm-4">
      <%= f.text_field :availability_3, class: 'form-control has_datetimepicker_30_45', required: true, autocomplete: :off %>
      <span class="help-block">Pick time slots for interview in next 30-45 days</span>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
      <%= f.submit :submit, class: 'btn btn-success btn-block' %>
    </div>
  </div>
<% end %>



<script>

  $(function() {
    $(".has_datetimepicker_15_30").datetimepicker({
      minDate:'+1970/01/15',//next 15th day is minimum date(for today use 0 or -1970/01/01)
      maxDate:'+1970/01/30',//next 30th day is maximum date calendar
      scrollMonth: false
    });
    $(".has_datetimepicker_15").datetimepicker({
      minDate:'+1970/01/01',//next 15th day is minimum date(for today use 0 or -1970/01/01)
      maxDate:'+1970/01/15',//next 30th day is maximum date calendar
      scrollMonth: false
    });
    $(".has_datetimepicker_30_45").datetimepicker({
      minDate:'+1970/02/01',//next 15th day is minimum date(for today use 0 or -1970/01/01)
      maxDate:'+1970/02/15',//next 30th day is maximum date calendar
      scrollMonth: false
    });
  });


</script>
