<div class="row">
  <% resume_sections.each_with_index do |resume_section, i=0| %>
    <button class="btn section <%= i > 0 ? 'btn-info' : 'btn-success' %>" data-id="<%= resume_section.id %>" type="button">
      <%= resume_section.section %>
    </button>
  <% end %>
</div>
<% attachments = submission.attachments %>
<% if attachments.any? %>
  <hr style="margin: 5px">
  <div class="row">
    <span><strong>Attachments:</strong></span>
    <% attachments.each do |attachment| %>
      <span>
        <%= link_to attachment.name, attachment.file.url, target: '_blank' %>
        <% unless attachment == attachments.last %>,<% end %>
      </span>
    <% end %>
  </div>
<% end %>
<div class="row">
  <div class="col-md-6">
    <% resume_sections.each_with_index do |resume_section, i=0| %>
      <div class="sections <%= "hide" if i > 0 %>" id="section_video_<%= resume_section.id %>">
        <div>
          <%= video_tag resume_section.video, preload: 'metadata', :size => "350x240", :controls => true, class: 'section_player section_video' %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <% @resume = @submission.resume %>
    <% if @job.consultant == current_user && @resume.resume_sections.collect(&:consultant_rating).include?(nil) %>
      <div class="row">
        <%= form_for([@job, @submission, @resume]) do |f| %>
          <%= f.fields_for :resume_sections do |ff| %>
            <div class="form-group" style="margin-bottom: 0">
              <%= ff.label :consultant_rating, ff.object.section %>
              <%#= ff.collection_radio_buttons :consultant_rating,  (1..5).map { |n| [n, n] }, :first, :last,{}, {class: 'radio-inline form-control', style: 'margin: 10px 5px 10px 10px'} %>
              <%= ff.hidden_field :consultant_rating, class: 'form-control' %>
              <p class="star_rating"></p>
            </div>
          <% end %>
          <div class="col-md-10">
            <%= f.submit "Submit Rating", class: 'btn btn-small btn-block btn-primary' %>
          </div>
        <% end %>
      </div>
    <% elsif @job.hm == current_user && @resume.resume_sections.collect(&:hiring_manager_rating).include?(nil) %>
      <div class="row">
        <%= form_for([@job, @submission, @resume]) do |f| %>
          <%= f.fields_for :resume_sections do |ff| %>
            <div class="form-group" style="margin-bottom: 0">
              <%= ff.label :hiring_manager_rating, ff.object.section %>
              <%#= ff.collection_radio_buttons :hiring_manager_rating,  (1..5).map { |n| [n, n] }, :first, :last,{}, {class: 'radio-inline form-control', style: 'margin: 10px 5px 10px 10px'} %>
              <%= ff.hidden_field :hiring_manager_rating, class: 'form-control' %>
              <p class="star_rating"></p>
            </div>
          <% end %>

          <div class="col-md-10">
            <%= f.submit "Submit Rating", class: 'btn btn-small btn-block btn-primary' %>
          </div>
        <% end %>
      </div>
    <% else %>
      <br>
        <%= render partial: 'resumes/hm_decision' %>
    <% end %>
    <br>
    <div class="row">
      <% resume_sections.each_with_index do |resume_section, i=0| %>
        <div class="sections <%= "hide" if i > 0 %>" id="section_rating_<%= resume_section.id %>">
          <%= render partial: 'resume_sections/ratings', locals: {resume_section: resume_section} %>
          <% @comments = submission.comments.where(user_id: current_user.id) %>
          <% if @comments.any? %>
            <div>
              <p><strong>Comments:</strong></p>
              <ul class="bg-warning">
                <% @comments.each do |comment| %>
                  <li>
                    <% if comment.label.present? %>
                      <span class="label label-default"><%= comment.label %></span>
                    <% end %>
                    <%= comment.description %>
                  </li>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>


<script type="text/javascript">

  $('.section_video').click(function () {
    this.paused ? this.play() : this.pause();
  });
  $(".section").on('click', function () {
    var id = $(this).data('id');
    var section_video = "#section_video_" + id;
    var section_rating = "#section_rating_" + id;
    $('.sections').addClass('hide');
    $('.section_player').each(function () {
      $(this).get(0).pause(); // pause all videos
    });
    $(section_video).removeClass('hide');
    $(section_rating).removeClass('hide');
    $('button.section').removeClass('btn-success').addClass('btn-info');
    $(this).removeClass('btn-info').addClass('btn-success')
  });

  $('.star_rating').raty({
    path: '/assets/',
    size: 24,
    starOff: 'star-off-big.png',
    starOn: 'star-on-big.png',
    click: function (score, evt) {
      $(this).prev('input').val(score);
    }
  });
</script>
