<h1 class="text-primary"><%= @job.title %></h1>

<ul id="myTabs" class="nav nav-tabs" role="tablist">
  <% if current_user.hm? %>
    <li role="presentation" class="active">
      <a href="#new" id="new-tab" role="tab" data-toggle="tab" aria-controls="new" aria-expanded="true">New (<%= @processing_submissions.count %>)</a>
    </li>
  <% else %>
    <li role="presentation" class="active">
      <a href="#new" id="new-tab" role="tab" data-toggle="tab" aria-controls="new" aria-expanded="true">New (<%= @new_submissions.count %>)</a>
    </li>
    <li role="presentation">
      <a href="#processing" id="new-tab" role="tab" data-toggle="tab" aria-controls="processing" aria-expanded="true">Submitted to HM (<%= @processing_submissions.count %>)</a>
    </li>
  <% end %>
  <li role="presentation" class="">
    <a href="#un_decided" id="un_decided-tab" role="tab" data-toggle="tab" aria-controls="un_decided" aria-expanded="true">Undecided (<%= @un_decided_submissions.count %>)</a>
  </li>
  
  <li role="presentation" class="">
    <a href="#interview" role="tab" id="close-tab" data-toggle="tab" aria-controls="interview" aria-expanded="false">Interview in Process (<%= @interview_submissions.count %>)</a>
  </li>
  <li role="presentation" class="">
    <a href="#hire" role="tab" id="close-tab" data-toggle="tab" aria-controls="hire" aria-expanded="false">Hired (<%= @hired_submissions.count %>)</a>
  </li>
  <li role="presentation" class="">
    <a href="#reject" role="tab" id="close-tab" data-toggle="tab" aria-controls="reject" aria-expanded="false">Rejected (<%= @rejected_submissions.count %>)</a>
  </li>
</ul>
<div id="myTabContent" class="tab-content">
  <% if current_user.hm? %>
    <div role="tabpanel" class="tab-pane fade active in" id="new" aria-labelledby="new-tab">
      <%= render partial: 'submissions', locals: {job: @job, submissions: @processing_submissions, tab: 'new'} %>
    </div>
  <% else %>
    <div role="tabpanel" class="tab-pane fade active in" id="new" aria-labelledby="new-tab">
      <%= render partial: 'submissions', locals: {job: @job, submissions: @new_submissions, tab: 'new'} %>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="processing" aria-labelledby="processing-tab">
      <%= render partial: 'submissions', locals: {job: @job, submissions: @processing_submissions, tab: 'processing'} %>
    </div>
  <% end %>
  <div role="tabpanel" class="tab-pane fade" id="un_decided" aria-labelledby="un_decided-tab">
    <%= render partial: 'submissions', locals: {job: @job, submissions: @un_decided_submissions, tab: 'un_decided'} %>
  </div>
 
  <div role="tabpanel" class="tab-pane fade" id="interview" aria-labelledby="interview-tab">
    <%= render partial: 'submissions', locals: {job: @job, submissions: @interview_submissions, tab: 'interview'} %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="hire" aria-labelledby="hire-tab">
    <%= render partial: 'submissions', locals: {job: @job, submissions: @hired_submissions, tab: 'hire'} %>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="reject" aria-labelledby="reject-tab">
    <%= render partial: 'submissions', locals: {job: @job, submissions: @rejected_submissions, tab: 'reject'} %>
  </div>
</div>

<script>
  $(document).ready(function(){
    resizeSubmission();
  });

  window.onresize = function(event) {
    resizeSubmission();
  };

  function resizeSubmission() {
    var content = $("#myTabContent");
    var vph = content.offset().top - $('.navbar.navbar-default.navbar-fixed-top').offset().top;
    var height =1000 - vph;
    $(".resume_sections").css({height: height + 'px'});
  }
</script>