<p>
  <strong><%= current_user.candidate? ? 'Self' : 'Candidate' %> Rating:</strong>

  <% (1..resume_section.rating.to_i).each do |i| %>
    <%= image_tag 'star-on.png' %>
  <% end %>
  <% (resume_section.rating.to_i...5).each do |i| %>
    <%= image_tag 'star-off.png' %>
  <% end %>
</p>

<% if (resume_section.consultant_rating && @job.consultant == current_user) || @job.hm == current_user %>
  <p>
    <strong>Consulting Company Rating:</strong>
    <% (1..resume_section.consultant_rating.to_i).each do |i| %>
      <%= image_tag 'star-on.png' %>
    <% end %>
    <% (resume_section.consultant_rating.to_i...5).each do |i| %>
      <%= image_tag 'star-off.png' %>
    <% end %>
  </p>
<% end %>

<% if resume_section.hiring_manager_rating && @job.hm == current_user %>
  <p>
    <strong>Hiring Manager Rating:</strong>
    <% (1..resume_section.hiring_manager_rating.to_i).each do |i| %>
      <%= image_tag 'star-on.png' %>
    <% end %>
    <% (resume_section.hiring_manager_rating.to_i...5).each do |i| %>
      <%= image_tag 'star-off.png' %>
    <% end %>
  </p>
<% end %>

<p>
  <% if current_user.hm? %>
    <strong>Application Status:</strong>
    <%= Submission::HM_STATUSES["#{@submission.status}"] %>
    <% if @submission.parked? %>
      <span class="label label-default"><%= @submission.activity_user_id == current_user.id ? 'by ME' : 'by HM' %></span>
    <% end %>
  <% elsif current_user.consultant? %>
    <strong>Application Status:</strong>
    <%= Submission::HM_STATUSES["#{@submission.status}"] %>
    <% if @submission.parked? %>
      <span class="label label-default"><%= @submission.activity_user_id == current_user.id ? 'by ME' : 'by HM' %></span>
    <% end %>
  <% elsif @submission.status %>
    <strong>Application Status:</strong>
    <%= @submission.status.titlecase %>
  <% end %>
</p>

<% if false %>
  <% if @job.consultant == current_user && resume_sec.consultant_rating.nil? %>
    <%= simple_form_for([@job, @submission, resume_sec]) do |f| %>
      <%= f.label :consultant_rating, label: "Consulting Company:", class: 'col-sm-3 col-md-3 control-label' %>
      <%= f.collection_radio_buttons :consultant_rating, (1..5).map { |n| [n, n] }, :first, :last, {}, {class: 'radio-inline', required: true, style: 'margin: 10px 5px 10px 10px'} %>
      <%= f.submit "Submit", class: 'btn btn-small btn-primary' %>
    <% end %>
  <% elsif @job.hm == current_user && resume_sec.hiring_manager_rating.nil? %>
    <%= simple_form_for([@job, @submission, resume_sec]) do |f| %>
      <%= f.label :hiring_manager_rating, label: "Hiring Manager Ratings:", class: 'col-sm-3 col-md-3 control-label' %>
      <%= f.collection_radio_buttons :hiring_manager_rating, (1..5).map { |n| [n, n] }, :first, :last, {}, {class: 'radio-inline', required: true, style: 'margin: 10px 5px 10px 10px'} %>
      <%= f.submit "Submit Rating", class: 'btn btn-small btn-primary' %>
    <% end %>
  <% end %>
<% end %>

