<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Login</h3>
      </div>
      <div class="panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: 'form-horizontal'}) do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.email_field :email, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <%= f.label :password, class: "col-sm-3 control-label" %>
            <div class="col-sm-8">
              <%= f.password_field :password, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
              <div class="checkbox">
                <label>
                  <input type="checkbox"> Remember me
                </label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-4 col-sm-3">
              <%= f.submit "Login", class: 'btn btn-success btn-block' %>
            </div>
          </div>
        <% end %>
        <div class="row">
          <div class="col-md-12">
            <% hm = User.find 1 %>
            <% consultant = User.find 2  %>
            <% candidate = User.find 3 %>
            <%= link_to 'HM auto login', profile_url(id: hm.id, token: (hm.token ? hm.token : hm.new_token!)), class: 'btn btn-default' %>
            <%= link_to 'Consulting company auto login', profile_url(id: consultant.id, token: (consultant.token ? consultant.token : consultant.new_token!)), class: 'btn btn-default' %>
            <%= link_to 'Candidate auto login', profile_url(id: candidate.id, token: (candidate.token ? candidate.token : candidate.new_token!)), class: 'btn btn-default' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <%= render "devise/shared/links" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

