<h1 class="text-primary"> All Users </h1>
<a class="pull-right" href="/admin/users/new"> New User </a>
<table class="table table-bordered table-responsive">
<thead>
	<tr>
		<th width="50">Name</th>
		<th width="50">Email</th>
    <th width="50">Role</th>
    <th width="50">Verification</th>
		<th>Action</th>
	</tr>
  </thead>
  <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= admin.full_name %></td>
        <td><%= admin.email %></td>
        <td><%= admin.role.name %></td>
        <td>
        <% if admin.verification %>
          <span class="label label-success">Verified</span>
        <% else %>
          Unverified
        <% end %>
        </td>
        <td class="actions">
          <% unless admin.verification %>
            <%= button_to 'Verify', admin_user_verify_path(admin, verification: 1), method: :post, class: 'btn btn-primary' %>
          <% end %> 
          <%= link_to 'Edit', edit_admin_user_path(admin) %>
          <%= link_to 'Delete' , admin_path(admin), method: :delete, data: { confirm: 'Are you sure?' } %> 
        </td> 
      </tr>
    <% end %>  
  </tbody>
</table>
