<div class="row">
  <% if current_user.hm? %>
    <% if @submission.processing? %>
      <%= link_to 'Hire', change_status_job_submission_path(@job, @submission, status: 'hire'), class: 'btn btn-default', style: "margin: 1% 0;", data: {status: 'hire'}, confirm: "Are you sure you want to hire the candidate?" %>
      <%= link_to 'Interview', new_job_submission_interview_path(@job, @submission), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%#= link_to 'Park', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'park'} %>
      <%= link_to 'Undecided', change_status_job_submission_path(@job, @submission, status: 'un_decided'), class: 'btn btn-default', style: "margin: 1% 0;" %>
    <% elsif @submission.un_decided? %>
      <%= link_to 'Hire', change_status_job_submission_path(@job, @submission, status: 'hire'), class: 'btn btn-default', style: "margin: 1% 0;", data: {status: 'hire'}, confirm: "Are you sure you want to hire the candidate?" %>
      <%= link_to 'Interview', new_job_submission_interview_path(@job, @submission), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%#= link_to 'Park', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'park'} %>
    <% elsif @submission.parked? %>
      <%= link_to 'Hire', change_status_job_submission_path(@job, @submission, status: 'hire'), class: 'btn btn-default', style: "margin: 1% 0;", data: {status: 'hire'}, confirm: "Are you sure you want to hire the candidate?"%>
      <%= link_to 'Interview', new_job_submission_interview_path(@job, @submission), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%= link_to 'Undecided', change_status_job_submission_path(@job, @submission, status: 'un_decided'), class: 'btn btn-default', style: "margin: 1% 0;" %>
    <% elsif @submission.interview_scheduled? %>
      <%= link_to 'Hire', change_status_job_submission_path(@job, @submission, status: 'hire'), class: 'btn btn-default', style: "margin: 1% 0;", data: {status: 'hire'}, confirm: "Are you sure you want to hire the candidate?"%>
      <%= link_to 'Edit Interview', edit_job_submission_interview_path(@job, @submission, @submission.interview), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%#= link_to 'Park', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'park'} %>
      <%= link_to 'Undecided', change_status_job_submission_path(@job, @submission, status: 'un_decided'), class: 'btn btn-default', style: "margin: 1% 0;" %>
    <% end %>
    <% unless @submission.discarded? || @submission.hired? %>
      <%= link_to 'Reject', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'discard'} %>
    <% end %>
  <% elsif current_user.consultant? %>
    <% if @submission.submitted? %>
      <%= link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%#= link_to 'Park', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'park'} %>
      <%= link_to 'Undecided', change_status_job_submission_path(@job, @submission, status: 'un_decided'), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%= link_to 'Reject', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'discard'}  %>
    <% elsif @submission.un_decided? %>
      <%= link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%#= link_to 'Park', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'park'} %>
      <%= link_to 'Reject', '#', class: 'btn btn-default comment-btn', style: "margin: 1% 0;", data: {status: 'discard'} %>
    <% elsif @submission.parked? %>
      <%= link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-default', style: "margin: 1% 0;"  %>
      <%= link_to 'Undecided', change_status_job_submission_path(@job, @submission, status: 'un_decided'), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%= link_to 'Reject', '#', class: 'btn btn-default comment-btn',style: "margin: 1% 0;", data: {status: 'discard'} %>
    <% elsif @submission.discarded? %>
      <%= link_to 'Submit to HM', change_status_job_submission_path(@job, @submission, status: 'process'), class: 'btn btn-default', style: "margin: 1% 0;" %>
      <%#= link_to 'Park', '#', class: 'btn btn-default comment-btn',style: "margin: 1% 0;", data: {status: 'park'} %>
      <%= link_to 'Undecided', change_status_job_submission_path(@job, @submission, status: 'un_decided'), class: 'btn btn-priamry', style: "margin: 1% 0;" %>
<% end %>
  <% end %>
</div>

<div class="row">
  <div class="comment-section">
    <%= form_tag save_comment_job_submission_path(@job, @submission), class: 'form-horizontal comment_form' do %>
      <%= hidden_field_tag :status, '', class: 'submission_comment_status' %>
      <div class="form-group">
        <div class="col-sm-10">
          <%= text_area_tag :comment, '', class: 'form-control', rows: 4, placeholder: 'Leave your comment here...' %>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <%= submit_tag :Submit, class: 'btn btn-default btn-block' %>
      </div>
    <% end %>
  </div>
</div>
<style>
  .comment-section{
    margin-top: 10px;
  }

</style>

<script type="text/javascript">
  $('.comment-section').hide();
  $('.comment-btn').on('click', function (e) {
    e.preventDefault();
    $('.comment-section').show(500);
    $('.submission_comment_status').val($(this).data('status'));
  });
</script>
