<div class="row">
  <div class="panel panel-default">
    <div class="panel-heading"><%= @submission.user.to_s %></div>
    <div class="panel-body">
      <div class="row">
        <% @resume_sections.each_with_index do |resume_section,i| %>
          <button class="btn section <%= i > 0 ? 'btn-default' : 'btn-success' %>" data-id="<%= resume_section.id %>" type="button">
            <%= resume_section.section %>
          </button>
        <% end %>
      </div>

      <% attachments = @submission.attachments %>
      <% if attachments.any? %>
        <br>
        <div class="row">
          <span><strong>Attachments:</strong></span>
          <% attachments.each do |attachment| %>
                <span>
                  <%= link_to attachment.name, attachment.file.url, target: '_blank' %>
                  <% unless attachment == attachments.last %>,<% end %>
                </span>
          <% end %>
        </div>
        <br>
      <% end %>
      <br>
      <div class="row">
        <div class="col-md-7">
          <% @resume_sections.each_with_index do |resume_section, i| %>
            <div class="video_section sections <%= "hide" if i > 0 %> section_<%= resume_section.id %>">
                <%= video_tag resume_section.video, preload: 'metadata', :size => "500x240", :controls => true, class: 'section_player section_video' %>
            </div>
          <% end %>
        </div>
        <div class="col-md-5">
          <% @resume = @submission.resume %>
          <% if @job.consultant == current_user && @resume_sections.collect(&:consultant_rating).include?(nil) %>
            <div class="row">
              <%= form_for([@job, @submission, @resume], html:{id: 'consultant_rating_form'}) do |f| %>
                <%= f.fields_for :resume_sections do |ff| %>
                  <div class="form-group" style="margin-bottom: 0">
                    <%= ff.label :consultant_rating, ff.object.section %>
                    <%#= ff.collection_radio_buttons :consultant_rating,  (1..5).map { |n| [n, n] }, :first, :last,{}, {class: 'radio-inline form-control', style: 'margin: 10px 5px 10px 10px'} %>
                    <%= ff.hidden_field :consultant_rating, class: 'form-control' %>
                    <p class="star_rating"></p>
                    <span class="help-block rating_hint hide" style="color: #a94442">Rating Required</span>
                  </div>
                <% end %>
                <%= render partial: 'resumes/decisions_radio' %>
                <div class="form-group">
                  <%= f.submit "Submit Rating", class: 'btn btn-small btn-block btn-primary' %>
                </div>
              <% end %>
            </div>
          <% elsif @job.hm == current_user &&  @resume_sections.collect(&:hiring_manager_rating).include?(nil) %>
            <div class="row">
              <%= form_for([@job, @submission, @resume], html:{id: 'hm_rating_form'}) do |f| %>
                <%= f.fields_for :resume_sections do |ff| %>
                  <div class="form-group" style="margin-bottom: 0">
                    <%= ff.label :hiring_manager_rating, ff.object.section %>
                    <%#= ff.collection_radio_buttons :hiring_manager_rating,  (1..5).map { |n| [n, n] }, :first, :last,{}, {class: 'radio-inline form-control', style: 'margin: 10px 5px 10px 10px'} %>
                    <%= ff.hidden_field :hiring_manager_rating, class: 'form-control' %>
                    <p class="star_rating"></p>
                    <span class="help-block rating_hint hide" style="color: #a94442">Rating Required</span>
                  </div>
                <% end %>
                <%= render partial: 'resumes/decisions_radio' %>
                <div class="form-group">
                  <%= f.submit "Submit Rating", class: 'btn btn-small btn-block btn-primary' %>
                </div>
              <% end %>
            </div>
          <% end %>
          <br>
          <div class="row">
            <% @resume_sections.each_with_index do |resume_section, i=0| %>
              <div class="sections <%= "hide" if i > 0 %> section_<%= resume_section.id %>">
                <%= render partial: 'resume_sections/ratings', locals: {resume_section: resume_section} %>
              </div>
            <% end %>
          </div>
          <% if @comments.any? %>
            <div class="row">
              <p><strong>Comments:</strong></p>
              <ul class="well">
                <% @comments.each do |comment| %>
                  <b><%= comment.user.role.label %>:</b>
                  <%= comment.description %>
                <% end %>
              </ul>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $('.section_video').click(function () {
    this.paused ? this.play() : this.pause();
  });
  $(".section").on('click', function () {
    var id = $(this).data('id');
    var section_id = ".section_" + id;
    $('.sections').addClass('hide');
    $('.section_player').each(function () {
      $(this).get(0).pause(); // pause all videos
    });
    $(section_id).removeClass('hide');
    $('button.section').removeClass('btn-success').addClass('btn-default');
    $(this).removeClass('btn-default').addClass('btn-success')
  });
  $('.star_rating').raty({
    path: '/assets/',
    size: 24,
    starOff: 'star-off-big.png',
    starOn: 'star-on-big.png',
    noRatedMsg  : 'Not rated yet!',
    click: function (score, evt) {
      $(this).prev('input').val(score);
      $(this).next('.rating_hint').remove();
    }
  });

  $('form#consultant_rating_form, form#hm_rating_form').on('submit', function(){
    var scores = $('.star_rating').raty('score');
    var valid = true;
    $.each(scores,function(index,value){
      if(value == undefined){
        valid = false;
      }
    });
    if(valid){
      return true
    }else{
      $('.rating_hint').removeClass('hide');
      return false
    }
  });

  $('.comment-block').hide();
  $("input[name=next_action]").on('change',function(){
    var val = $(this).val();
    if(val == "park" || val == 'reject'){
      $('.comment-block').show(500);
    }else{
      $('.comment-block').hide(500);
    }
  });
</script>