<div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <%= @submission.user.to_s %>
        </h4>
      </div>
      <div class="panel-collapse" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <h5>Sections</h5>
          <% @resume_sections.each do |resume_section| %>
            <% link_to 'javascript:void(0)', class: 'btn' do %>
              <span class="label label-default"><%= resume_section.section %></span>
            <% end %>
            <button class="btn btn-info section" data-id="<%= resume_section.id %>" type="button" style="margin-bottom: 1%;">
              <%= resume_section.section %>
            </button>
          <% end %>
          <div class="row">
            <div class="col-md-3">
              <h5>Attachments</h5>
              <% @submission.attachments.each do |attachment| %>
                <p>
                  <%= link_to attachment.name, attachment.file.url, target: '_blank', class: 'btn btn-link' %>
                </p>
              <% end %>

              <hr>

              <h5>Decision</h5>
              <%= render partial: 'hm_decision' %>
            </div>
            <div class="col-md-6">
              <% @resume_sections.each_with_index do |resume_section, i=0| %>
                <div class="sections <%= "hide" if i > 0 %>" id="section_<%= resume_section.id %>">
                  <p>
                    <%= video_tag resume_section.video, preload: 'metadata', :size => "400x240", :controls => true, class: 'section_player section_video' %>
                  </p>
                  <%= render partial: 'resume_sections/ratings', locals: {resume_sec: resume_section} %>
                </div>
              <% end %>
            </div>
            <div class="col-md-3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script>
  $('.section_video').click(function () {
    this.paused ? this.play() : this.pause();
  });
  $(".section").on('click', function () {
    var id = $(this).data('id');
    var section_id = "#section_" + id;
    $('.sections').addClass('hide');
    $('.section_player').each(function () {
      $(this).get(0).pause(); // pause all videos
    });
    $(section_id).removeClass('hide');
  });
</script>