<!DOCTYPE html>
<html>
<head>
  <title>Recruitment</title>
  <%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/dashboard_header' %>
<%= render 'shared/flash' %>

<div class="row">
  <div class="col-md-3">
    <%= render partial: 'shared/left_navigation' %>
  </div>
  <div class="col-md-9">
    <%= yield %>
  </div>
</div>


</body>
</html>
